<% if (categories.length!==0) { %>
<ul>
  <% categories.forEach(category => { %>
  <a href="<%= category.url %>">
    <li>
      <h2><%= category.name %></h2>
      <p><%= category.description %></p>
    </li>
  </a>
  <% }) %>
</ul>
<% } else { %>
<h2>There are no active categories at the moment</h2>
<% } %>

<a href="/categories/create">Create a category</a>