<form action="" method="POST">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%=
    category===undefined?"":category.name %>" />
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea name="description" id="description" cols="30" rows="10">
      <%= category===undefined?"":category.description %>
    </textarea>
  </div>
  <br>
  <br>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="name" required />
  </div>
  <br>

  <button>Submit</button>
  <% if (errors) { %>
  <ul>
    <% errors.forEach(error => { %>
    <li><%= error.msg%></li>
    <% }) %> <% } %>
  </ul>
</form>