<form action="" method="post">
  <input type="hidden" name="id" required value="<%= category.id %>" />
  <h2>Do you really want to delete the <%= category.name %> Category?</h2>
  <button>Delete</button>
</form>
